*{
  margin:0;
  padding:0;
}
.main{
  width:400px;
  height:600px;
  border:1px red solid;
  margin:10px auto;
  position:relative;
  
}
.message-ul{
  /* background:#ddd; */
  list-style-type:none;
 
}
.message-li{
  height:80px;
  display:block;
  width:400px;
  border-bottom:1px #ccc solid;
}
.message-li .pic{
  border-radius: 50%;
  width:30px;
  height:30px;
  /* border:1px green solid; */
  display:inline-block;
  margin:0 15px;
  background-image: url(./resource/xiaoduihao.png) 
}
.message-li .text{
  float:left;
  font-size:20px;
  margin-top:26px;
  margin-left:23px;
}
.content{
  text-align:center;
  float:right;
  width:300px;
  /* border:1px black solid; */
  margin-top:24px;
}
.message-li .one{
  background-color:red;
}
.message-li .two{
  background-color:rgb(88, 12, 107);
}
.message-li .three{
  background-color:rgb(0, 255, 98);
}
.message-li .four{
  background-color:rgb(229, 255, 0);
}
.footer{
  position:absolute;
  width:400px;
  height:120px;
  /* border:1px black solid; */
  bottom:0;
  text-align: center;
  background-color:#ddd;
}
.footer-content{
  width:60px;
  height:60px;
  /* border:1px red solid; */
  display: inline-block;
  margin:0 15px;
  
}
.footer-content img{
  display:block;
  width:60px;
  height:60px;
  margin:10px 0;
} 
.footer-content span{
  display:block;
} 